html {
    scroll-behavior: smooth;


}

body {
    background-color: #393939;
    /*width: fit-content;*/
    /*width: -moz-fit-content;*/
    /*margin: auto;*/


}

.content {
    width: fit-content;
    margin: 20vh auto;
}


.content h1, p {
    color: white;
    text-align: center;


}

.content h1 {
    font-size: 8vh;
    text-align: center;

}

.box-one, .box-two, .box-three {
    text-align-last: center;
    display: grid;
    margin-top: 35vh;


}

.box-two, .box-three {
    margin-top: 30%;

}

.button {
    padding: 15px;
    text-align: center;
    width: fit-content;
    width: -moz-fit-content;
    margin: 24px auto;
    font-size: 15px;
    background-color: #ec7f37;
    border-radius: 50px;
    color: white;
    border: none;
}


.about {
    padding-bottom: 50vh;
}

.box-btn {
    display: flex;
    margin: auto;
    width: fit-content;

}

.alert {
    position: absolute;
    width: 100%;
    margin-top: 65px;
    text-align: center;
}

.massage-alert {
    width: 25%;
    padding: 5px;
    margin: auto;
    border-radius: 4px;
    color: white !important;
    box-shadow: 0 0 10px 6px #ec7f37;

}

@media screen and (max-width: 768px) {
    html {
        width: fit-content;
        width: -moz-fit-content;

    }
}