{% extends 'common/site.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/forum/forum.css' %}">
{% endblock %}
{% block title %} Edit Profile {% endblock %}
{% block site_content %}
    <div class="content">
        <div class="forms">
            <h2>Edit your profile</h2>

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <button class="button button-success">Edit!</button>
            </form>

        </div>
    </div>
{% endblock %}