{% extends 'common/site.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/forum/forum.css' %}">{% endblock %}
{% block title %}{% endblock %}

{% block site_content %}
    <div class="root">
        <div class="content"><h1></h1></div>
        <div class="forms">
            <h2>Reset Password:</h2>
            <br>
            <br>
            <p>Forgotten your password? <br> Enter your email address below, and we'll email instructions for setting a
                new
                one.</p>
            <form method="post">
                {% csrf_token %}
                <br>
                {{ password_reset_form }}

                <button class="button-success button">Send email</button>
            </form>

        </div>
    </div>
{% endblock %}


