{% extends "common/site.html" %}
{% load static %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/forum/forum.css' %}">
{% endblock %}

{% block site_content %}
    <div class="root">
        <div class="content"><h1></h1></div>
        <div class="forms">
            <h2>Password Reset Confirm:</h2>
            <br>
            <br>
            <p>Please enter your new password.</p>
            <form method="post">
                {% csrf_token %}
                <br>
                {{ form }}

                <button class="button-success button">Reset Password</button>
            </form>

        </div>
    </div>
{% endblock %}

