{% extends 'common/site.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/forum.css' %}">
{% endblock %}

{% block site_content %}

    <!--Password reset sent-->
    <div class="content">
        <div class="box-one">
            <h1 style="font-size: 30px">Password reset complete</h1>
            <br>
            <p>Your password has been set. You may go ahead and log in now.</p>
            <br>
            <br>
            <br>
            <br>
            <a class="button" style="width: 100px;" href="{% url 'login user' %}">login</a>
        </div>

    </div>

{% endblock %}