{% extends 'common/site.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/forum.css' %}">
{% endblock %}

{% block site_content %}
    <div class="content">
        <div class="box-one">
            <h1>Password reset sent</h1>
            <br>
            <p>We've emailed you instructions for setting your password, if an account exists with the email you
                entered. You should receive them shortly.<br>If you don't receive an email, please make sure you've
                entered the address you registered with, and check your spam folder.</p>

            <br>
            <br>
            <br>
            <br>
            <a class="button" style="width: 100px;" href="{% url 'blog' %}">Blog</a>
        </div>
        <!--Password reset sent-->

    </div>

{% endblock %}