<footer class="footer-distributed">

    <div class="footer-left">

        <h3>Tech Knowledge</h3>

        <p class="footer-links">
            <a href="{% url 'index' %}">Home</a>
            ·
            <a href="{% url 'products' %}">Tech</a>
            ·
            <a href="{% url 'blog' %}">Blog</a>
            ·
            <a href="{% url 'about' %}">About</a>
            ·
            <a href="{% url 'user register' %}">Join our Forum</a>
        </p>

        <p class="footer-company-name">Tech Knowledge &copy; 2020</p>
    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p>Sofia, Bulgaria</p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:support@company.com">tech.knowledge@gmail.com</a></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>About</span>
            Our goal is to show you awesome content about tech and some products that we think are cool
        </p>

        <div style="text-align: center;" class="footer-icons">

            <a  href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>

        </div>

    </div>

</footer>