<div class="fixed-navbar">
    <nav class="nav-nav-bar">
        <div class="logo">
            <a href="{% url 'index' %}"><img style="display: none" class="logo-img" src="" alt="logo">Tech Knowledge</a>
        </div>
        <ul class="nav-links">
            <li>
                <a title="Home" href="{% url 'index' %}">Home</a>
            </li>
            <li>
                <a title="Products" href="{% url 'products' %}">Products</a>
            </li>
            <li>
                <a title="News Tech" href="{% url 'blog' %}">Tech Blog</a>
            </li>
{#            {% if user.is_authenticated %}#}
                <li>
                    <a title="Forum" href="{% url 'forum' %}">Forum</a>
                </li>
{#            {% else %}#}
{#                <li>#}
{#                    <a title="Forum" href="{% url 'login user' %}">Forum</a>#}
{#                </li>#}
{#            {% endif %}#}
            {% if user.is_authenticated %}
                <li>
                    <a title="Profile" href="{% url 'profile' user.id %}">Profile</a>
                </li>
            {% endif %}

            <li>
                <a title="About" href="{% url 'about' %}">About</a>
            </li>
            {% if user.is_authenticated %}
                <li>
                    <a title="Log out" href="{% url 'logout user' %}">Logout</a>
                </li>
            {% else %}
                <li>
                    <a title="Log in" href="{% url 'login user' %}">Login</a>
                </li>
            {% endif %}
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <!--  <div class="underline"></div>-->
    </nav>
</div>
<br>


