{% extends 'common/site.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/forum.css' %}">
{% endblock %}
{% block title %} Register {% endblock %}
{% block site_content %}
    <div class="root">
        <div class="content">
            <h1></h1>
        </div>
        <div class="forms">
            <h2>Join Us Now!</h2>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.errors }}
                {{ profile_form.errors }}
                {{ form }}
                {{ profile_form }}
                <button style="width:100%" class="button-success button" type="submit">Register</button>
            </form>
        </div>
    </div>
{% endblock %}